* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  background-color: black !important;
  padding: 1rem !important;
}
.link{
  margin-left:4rem;
  transition:all 0.3s linear !important;
  font-size: 1.5rem;
  font-weight: 600 !important;
  color: #ffe484 !important; 
}

/* .link:hover {
  text-decoration: none;
} */

 
  


.link:hover {
  transform: scale(1.1) !important;
  text-decoration: none;
}
.glow {
  font-size: 40px;
  color: #fff !important;
  text-align: center !important;
  margin-left: 50px;
  font-weight: 600 !important;
  -webkit-animation: glow 1s ease-in-out infinite alternate !important;
  -moz-animation: glow 1s ease-in-out infinite alternate !important;
  animation: glow 1s ease-in-out infinite alternate !important;
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.glow:hover {
  text-decoration: none;
}

.nav .btn {
  background-color: transparent !important;
  border: 0.05rem solid rgb(233, 191, 84) !important;
  border-radius: 0.8rem !important;
  color: azure;
  width: 160px;
  transition: width 0.4s, transform 1s !important;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem , 0.5rem,0.2rem,0;
  transition: all 0.5s ease-in-out !important;
  
}


.nav .btn:hover{
background-color: rgb(233, 191, 84)!important;
width: 200px !important;
color:black !important;
border:none !important;
  
}

.fa {
  font-size: 36px;
  margin-right: 16px !important;
  color: darkgrey;
}
.card {
  border-color: transparent; 
   transition: all 0.4s linear;
}

.card:hover  {
  border: 0.4rem rgba(0,0,0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.4);
  background: rgba(247,247,247);
}

.footer {
  background-color: transparent !important;
  border-top: transparent !important;
}

.card-btn {
  position: absolute;

  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 0.5rem 0 0 0;
  background-color: rgb(10, 240, 240);
  right: 0;
  transition: all 1s linear;
  transform: translate(100%,100%);
  bottom: 0%;

}

.img-container {
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;
}
.img-container:hover .card-btn{
  transform: translate(0%,0%);
}
.img-fluid {
  transition: all 1s linear;
}
.img-container:hover .img-fluid{
  transform: scale(1.2);
}

.moda {
  border:none !important;
  border-radius: 0.8rem !important;
  color: azure;
  width: 160px;
  transition:none !important;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem , 0.5rem,0.2rem,0;
  transition: all 0.5s ease-in-out !important;

}